:root{
    --verde: #11AD55;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/

body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.nav-bar {
    margin-right: 20px;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--verde);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin: 5px;
}

header nav a:hover{
    color:#fff;
}

/*filme principal*/

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50),100%), url('../img/capa-our-planet-1.jpg');
    
    height: 400px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.container{
    margin-left: 12px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.item img:hover{
    border-radius: 30px;
    opacity: 0.4;
}

.corrosel-filmes{
    margin-top: 5px;
}

.rodape{
    text-align: center;
    padding-bottom: 10px;
}

.rodape i{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .3s ease all;
}

.rodape i:hover{
    background-color: black;
    color: white;

}

.link  {
    background-color: rgba(0,0,0,.50);
    text-decoration: none;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    margin-right: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.link:hover{
    text-decoration: none;
    color:black;
    background-color: white;
}

.link span {
    margin-left: 5px;
}

.link i{
    margin-right: 8px;
}

.box-filme{
    cursor: pointer;
    transition: .3s ease all;
}

